header{
  background-color: #ff0000;
  text-align: center
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


p{
   font-size: 17px;
    width: 900px; 
  border: 1px solid #00000000;
  word-break: keep-all;
   background-color: #ffffffad;
}
h3{
   font-size: 17px;
    width: 900px; 
  border: 1px solid #00000000;
  word-break: keep-all;
   background-color: #ffffffad;
    text-align: center
}
body {
 background-image: url("https://cdn.vox-cdn.com/thumbor/4oKwFvvQH03aGMhOUcui-oaUEBA=/0x0:2032x1062/1200x800/filters:focal(854x369:1178x693)/cdn.vox-cdn.com/uploads/chorus_image/image/66729711/Screen_Shot_2020_04_29_at_4.07.56_PM.0.png");
 background-color: #cccccc;
}
footer{
   font-size: 17px;
    width: 900px; 
  border: 1px solid #00000000;
  word-break: keep-all;
   background-color: #ffffffad;
    text-align: center
}
